/* phần 5 */
/* FASHION & STYLE */
#fashion-style-article {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--bg-lightgrey);
  }
  
  .fashion-style-article-heading {
    font-size: 26px;
    font-family: var(--heading-font);
    color: var(--heading-color);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .btn-view-more {
    background: var(--btn-bg);
    border-radius: var(--border-radius-full);
    color: var(--font-color);
    font-weight: 500;
    padding: 6px 20px;
    font-size: 16px;
    font-family: var(--primary-font);
    transition: all 0.4s;
  }
  
  .btn-view-more:hover {
    background-color: var(--primary-color);
    color: white;
  }
  
  .fashion-style-article-wrapper {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .fashion-style-article-item {
    width: calc(100% / 3);
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .fashion-style-article-content {
    border-radius: var(--border-radius-full);
    overflow: hidden;
    background-color: var(--bg-color);
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  }
  
  .fashion-style-article-info {
    padding: 25px;
  }
  
  .fashion-style-article-title {
    font-size: 22px;
    margin-bottom: 16px;
    color: var(--heading-color);
  }
  
  .fashion-style-article-meta {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .fashion-style-article-author-avatar {
    width: 58px;
    height: 58px;
    border-radius: 50%;
  }
  
  .fashion-style-article-author-name {
    font-size: 18px;
    font-weight: 500;
    color: var(--heading-color);
  }
  